@import "vendor/vendor";
@import "partials/core/core";

@mixin retinaSprite($img){
    @include hide-text;
    @include background-image-retina($img);
    display:block;
    width:image-width($img);
    height:image-height($img);
}


#logo{
}
